// nav- menu - nesting/anidación
.menu{
    background-color:$mainColor;
    padding: 8px 30px;
    svg{
        width: 30px;
        fill: $white;
    }
    .navbar-toggler{
        border:solid $white 1px
    }
    img{
        width: 180px;
        @media (width <=320px){
            width: 140px;
        }
    }
    ul{
        list-style: none;
        display: flex;
         li{
            margin-right: 20px;
            a{
                text-decoration: none;
                color:$white;
                font-size: 20px;
                &:hover{
                    text-decoration: underline;
                    color: $black;
                }
            }
         }
    }
}
